:root {
  --bottom-border-color: #d1d1d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.div-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--bottom-border-color);
  padding: 12px;
  align-items: center;
}

.reload-image {
  width: 24px;
  height: 24px;
}

.list-adding {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid var(--bottom-border-color);
}

.list-adding:hover {
  background: #e4e4ff;
  border: 1px solid #f4f5cf;
}

#add-new-list {
  width: 100%;
  padding: 4px;
  font-size: 18px;
  border: none;
  outline: none;
  background: none;
}

#add-new-list::placeholder {
  font-style: italic;
}

ul#to-do-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 20px;
}

li.each-task {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid var(--bottom-border-color);
}

.check-tag {
  display: flex;
  gap: 12px;
  width: 80%;
}

input.task-desc {
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  background: none;
}

.checked {
  text-decoration: line-through;
}

.funs {
  display: flex;
  align-items: center;
}

.delbin {
  background: none;
  outline: none;
  border: none;
}

.three-dots {
  width: 20px;
  height: 20px;
  background: none;
  outline: none;
  border: none;
}

.three-dots:hover {
  transform: scale(1.1);
}

.clear-all {
  display: flex;
  width: 100%;
  padding: 17px;
  justify-content: center;
  background: #f1f1f4;
}
